.carousel-caption{
    background-color: rgba(109, 109, 109, 0.623);
    border-radius: 20px 0 0 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.prev-icon svg,
.next-icon svg{
    color: rgba(109, 109, 109, 0.623);
}

textarea{
    width: 100%;
}

#picform{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}

#picform label{
    
    width: 50%;
    height: 50%;
}

#picform label svg{
    width: 100%;
    height: 100%;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 101, 101, 0.39);
}

.col-4{
    padding: 0;
    height: fit-content;
}

#picform a{
    z-index: 1;
    position: absolute;
    left: 2px;
    top: 2px;
}